<% include parts/header %>






<div class='container'>
    <div class='row'>
      <h1 style="display: block; width:50%; padding:10px; margin: 10px auto;" class="font-weight-light text-center text-justify">Turn your face to the sun and the shadows fall behind you</h1>
      
        <div class='col-12'>
<a style="display: block; width:10%; padding:10px; margin: 10px auto;"  class="btn btn-primary" href="/suns/new" role="button">Add New</a>
        </div>
      
      
      
      <% sun.forEach(function(sun){ %>
      

    
        
        <div class='col-lg-6 col-sm-12 '>
            <h3 style="text-align:center;"><%= sun.title %></h3>
            <img style="display: block;margin: 0 auto;" src="<%= sun.img %>" class='img-fluid rounded' alt="Responsive image">
            <p class="text-center" style="margin-top:5px;">
              <%= sun.data %> 

             
            </p>
            <p class="text-justify text-center border font-weight-light"><%=sun.content%></p>
                          <form method="POST" action="/suns/<%= sun._id %>?_method=DELETE">
                 <button class='btn-danger'>Delete</button>
                           </form>
        </div>
        
            <%  }) %>
    </div>
</div>






<% include parts/footer %>