<% include parts/header %>






<div class='container'>
    <div class='row'>
      
        <div class='col-12'>
<a style="display: block; width:10%; padding:10px; margin: 10px auto;"  class="btn btn-primary" href="/suns/new" role="button">Add New</a>
        </div>
      
      
      
      <% sun.forEach(function(sun){ %>
      

    
        
        <div class='col-lg-6 col-sm-12'>
            <h1><%= sun.title %></h1>
            <img src="<%= sun.img %>" class='img-fluid' alt="Responsive image">
            <p style="margin-top:5px;">
              <%= sun.data %> 
              <form method="POST" action="/suns/<%= sun._id %>?_method=DELETE">
                 <button class='btn-danger'>Delete</button>
              </form>
             
            </p>
            <p><%=sun.content%></p>
        </div>
        
            <%  }) %>
    </div>
</div>






<% include parts/footer %>